<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户主页</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="../static/user.js"></script>

    <style type="text/css">
        .center-block {
            display:block;
            margin-left:auto;
            margin-right:auto;
        }

        .vertical-center {
            margin-top:130px;
        }

        .jumbotron {
            background-image:url(/static/images/user_img.jpeg);
        }

    </style>
</head>
<body>
<div class="jumbotron vertical-center">
  <h2 class="center-block col-sm-offset-3 col-sm-3">偏好设置</h2>
    <p class="center-block col-sm-offset-3 col-sm-3"> <b><big>请先设置默认选项再查看天气</big></b></p>
       <div class="form-horizontal">
            <div class="center-block col-sm-offset-3 col-sm-3" id="inputbox">
            </div>
            <div class="center-block col-sm-offset-3 col-sm-3">
                <button type="button" class="btn btn-info" id="add">添加城市</button>
                <button type="button" class="btn btn-info" id="search">查看天气</button>
                <button type="button" class="btn btn-info" id="default">设为默认选项</button>
            </div>

       </div>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
</div>
<!--<h1>用户主页</h1>-->
<!--<div>-->
    <!--<div>-->
        <!--<p>设置偏好城市</p>-->
        <!--<form>-->
            <!--<div class="form-group col-sm-3" id="inputbox">-->
            <!--</div>-->
            <!--<div class="form-group col-sm-3">-->
                <!--<button type="button" class="btn btn-info" id="add">添加城市</button>-->
                <!--<button type="button" class="btn btn-info" id="search">查看天气</button>-->
                <!--<button type="button" class="btn btn-info" id="default">设为默认选项</button>-->
            <!--</div>-->

        <!--</form>-->
    <!--</div>-->
<!--</div>-->

</body>
</html>